Repository Vlad777mykola/easyway-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier --write

.lintstagedrc.json:

{
	"*.ts": ["eslint .", "prettier --write"],
	"*{.js,.json,.md,.yaml,rc}": ["prettier --write"]
}

fix(ci): test precommit
  src/modules/create-words/components/main/CreateWords.tsx
Due: none

refactor(word form): change logic
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/main/CreateWords.tsx
  src/modules/create-words/components/modal-form/ModalForm.tsx
  src/modules/create-words/components/table-words/TableWords.tsx
Due: none

refactor(word): refactor xml input
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/add-xml-file/addXmlFile.module.css
  src/modules/create-words/components/main/CreateWords.tsx
  src/modules/create-words/constants/constants.ts
  src/modules/create-words/utils/handleFileChange.ts
  src/modules/create-words/zod-schemas/form.schema.ts
Due: eslint ., prettier --write

refactor(word): refactor code
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/table-words/TableWords.tsx
Due: none

refactor(word): refactor xml input
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-json-file/addJsonFile.module.css
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/add-xml-file/addXmlFile.module.css
  src/modules/create-words/components/main/CreateWords.tsx
  src/modules/create-words/constants/constants.ts
  src/modules/create-words/utils/containAllKeys.ts
  src/modules/create-words/utils/handleFileChange.ts
  src/modules/create-words/zod-schemas/form.schema.ts
Due: eslint ., prettier --write

refactor(word): make json input
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-json-file/addJsonFile.module.css
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/utils/checkContainAllKeys.ts
  src/modules/create-words/utils/checkSameItems.ts
  src/modules/create-words/utils/validateFileContent.ts
Due: eslint ., prettier --write

refactor(word): refactor add word form
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-json-file/addJsonFile.module.css
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/add-xml-file/addXmlFile.module.css
  src/modules/create-words/components/error-message/ErrorMessage.tsx
  src/modules/create-words/components/error-message/errorMessage.module.css
  src/modules/create-words/components/main/CreateWords.tsx
  src/modules/create-words/components/modal-form/ModalForm.tsx
  src/modules/create-words/components/table-words/TableWords.tsx
  src/modules/create-words/components/table-words/tableWords.module.css
  src/modules/create-words/utils/checkContainNumbers.ts
  src/modules/create-words/utils/checkCorrectFormat.ts
  src/modules/create-words/utils/checkFileDublicates.ts
  src/modules/create-words/utils/checkSameItems.ts
  src/modules/create-words/utils/correctParse.ts
  src/modules/create-words/utils/isValidForTable.ts
  src/modules/create-words/utils/validateFileContent.ts
  src/modules/create-words/zod-schemas/form.schema.ts
Due: eslint ., prettier --write

refactor:(word): refactor
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/utils/filterFileData.ts
Due: eslint ., prettier --write

refactor(word): resolve validation adding same word in edit
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/constants/constants.ts
  src/modules/create-words/utils/checkContainAllKeys.ts
  src/modules/create-words/utils/checkCorrectData.ts
Due: eslint ., prettier --write

refactor(word): refactor
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
Due: none

refactor(word): remove console logs
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
Due: none

feat(new page): start create add collection form
  src/app/router.tsx
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/add-collection-words/components/main/addCollectionWords.module.css
  src/modules/add-collection-words/index.ts
  src/modules/add-collection-words/types.ts
  src/modules/add-collection-words/zod-schemas/form.schema.ts
  src/modules/create-collections/components/main/CreateCollections.tsx
  src/shared/constants/collections/collections.ts
  src/ui-components/Input/Input.tsx
Due: eslint ., prettier --write

feat(new page): make validation
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/add-collection-words/components/main/addCollectionWords.module.css
  src/modules/add-collection-words/components/table-words/TableWords.tsx
  src/modules/add-collection-words/components/table-words/tableWords.module.css
  src/modules/add-collection-words/zod-schemas/form.schema.ts
Due: eslint ., prettier --write

feat(new word): make style for table
  src/modules/add-collection-words/components/main/addCollectionWords.module.css
  src/modules/add-collection-words/components/table-words/TableWords.tsx
Due: none

feat(new page): make form for creating collection
  src/features/table-words/TableWords.tsx
  src/features/table-words/index.ts
  src/features/table-words/tableWords.module.css
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/add-collection-words/components/main/addCollectionWords.module.css
  src/modules/add-collection-words/components/table-words/TableWords.tsx
  src/modules/add-collection-words/components/table-words/tableWords.module.css
  src/modules/create-collections/components/main/CreateCollections.tsx
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/main/CreateWords.tsx
  src/ui-components/error-message/ErrorMessage.tsx
  src/ui-components/error-message/errorMessage.module.css
  src/ui-components/error-message/index.ts
Due: eslint ., prettier --write

feat(new page): fix warnings
  src/features/table-words/TableWords.tsx
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/add-collection-words/components/main/addCollectionWords.module.css
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/modules/create-words/components/main/CreateWords.tsx
Due: none

feat(new page): fix bug in add new word form
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
Due: none

feat(new page): refactor code
  src/modules/add-collection-words/components/main/AddCollectionWords.tsx
  src/modules/create-collections/components/main/CreateCollections.tsx
  src/modules/create-words/components/add-json-file/AddJsonFile.tsx
  src/modules/create-words/components/add-word-form/AddWordForm.tsx
  src/modules/create-words/components/add-xml-file/AddXmlFile.tsx
  src/ui-components/ErrorMessage/ErrorMessage.tsx
  src/ui-components/ErrorMessage/errorMessage.module.css
  src/ui-components/ErrorMessage/index.ts
Due: eslint ., prettier --write

feat(question module): start make question test
  src/app/router.tsx
  src/modules/collections/Collections.tsx
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/modules/question-details/QuestionDetails.tsx
  src/modules/question-details/questionDetails.module.css
  src/modules/question/Question.tsx
  src/modules/question/components/selecting-ui/SelectingUI.tsx
  src/modules/question/components/selecting-ui/selectingUI.module.css
  src/modules/question/question.module.css
  src/pages/Question.page.tsx
  src/pages/QuestionDetails.page.tsx
  src/shared/constants/index.ts
  src/shared/constants/questions/collections.ts
  src/shared/constants/questions/questionData.ts
Due: eslint ., prettier --write

feat(question module): resolve warnings and types.make questions
  src/features/pagination-by-mode/PaginationControls.tsx
  src/modules/question/Question.tsx
  src/modules/question/components/selecting-ui/SelectingUI.tsx
  src/modules/question/components/selecting-ui/selectingUI.module.css
  src/modules/question/question.module.css
  src/shared/constants/questions/collections.ts
  src/shared/constants/questions/questionData.ts
Due: eslint ., prettier --write

feat(question module): make questions for react and typescript
  src/modules/question/components/selecting-ui/SelectingUI.tsx
  src/modules/question/components/selecting-ui/selectingUI.module.css
  src/modules/question/question.module.css
  src/shared/constants/questions/collections.ts
  src/shared/constants/questions/questionData.ts
Due: eslint ., prettier --write

fix(dictionary): add words a1-a2
  package.json
  src/app/main.tsx
  src/app/router.tsx
  src/context/auth/AuthContext.tsx
  src/features/navbar/Navbar.tsx
  src/features/sidebar/components/FieldComponent.tsx
  src/layouts/header/Header.tsx
  src/layouts/header/constants.ts
  src/modules/collections/Collections.tsx
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/modules/dictionary/hooks/useExerciseListData.tsx
  src/modules/progress/Progress.tsx
  src/pages/ExercisesPage.tsx
  src/pages/VocabulariesPage.tsx
  src/shared/api-hooks/useWordsMutation.ts
  src/shared/constants/collections/data.ts
  src/shared/constants/dictionary/a1-a2-words.ts
  src/shared/constants/dictionary/b1-b2-words.ts
  src/shared/constants/dictionary/collections.ts
  src/shared/constants/dictionary/index.ts
  src/shared/constants/fr-questions/wordsJSCSS.ts
  src/shared/constants/index.ts
  src/shared/services/fetch-exercise/getExerciseByCollection.ts
Due: eslint ., prettier --write

fix(dictionary): add words a1-a2 (#182)
  package.json
  src/app/main.tsx
  src/app/router.tsx
  src/context/auth/AuthContext.tsx
  src/features/navbar/Navbar.tsx
  src/features/sidebar/components/FieldComponent.tsx
  src/layouts/header/Header.tsx
  src/layouts/header/constants.ts
  src/modules/collections/Collections.tsx
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/modules/dictionary/hooks/useExerciseListData.tsx
  src/modules/progress/Progress.tsx
  src/pages/ExercisesPage.tsx
  src/pages/VocabulariesPage.tsx
  src/shared/api-hooks/useWordsMutation.ts
  src/shared/constants/collections/data.ts
  src/shared/constants/dictionary/a1-a2-words.ts
  src/shared/constants/dictionary/b1-b2-words.ts
  src/shared/constants/dictionary/collections.ts
  src/shared/constants/dictionary/index.ts
  src/shared/constants/fr-questions/wordsJSCSS.ts
  src/shared/constants/index.ts
  src/shared/services/fetch-exercise/getExerciseByCollection.ts
Due: eslint ., prettier --write

feat(gh-pages): pages
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Due: eslint ., prettier --write

Feat(gh pages) (#183)
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Due: eslint ., prettier --write

fix(gh-pages): pages
  .github/workflows/deploy.yml
  tsconfig.tsbuildinfo
  vite.config.js
  vite.config.ts
Due: eslint ., prettier --write

fix(gh-pages): defineConfig
  vite.config.ts
Due: eslint ., prettier --write

Fix(gh pages) (#184)
  .github/workflows/deploy.yml
  tsconfig.tsbuildinfo
  vite.config.ts
Due: eslint ., prettier --write

fix(pages): p
  .github/workflows/deploy.yml
  index.html
  public/404.html
  src/app/router.tsx
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Due: eslint ., prettier --write

Fix(pages) (#185)
  .github/workflows/deploy.yml
  index.html
  public/404.html
  src/app/router.tsx
  vite.config.d.ts
  vite.config.js
Due: eslint ., prettier --write

start fix nav menu
  src/features/Menu/Menu.tsx
  src/features/Menu/menu.module.css
  src/layouts/header/components/side-menu/sideMenu.module.css
  src/shared/hooks/use-lock-body-scroll/useLockBodyScroll.ts
Due: eslint ., prettier --write

refactor: refactor positiongn of libraries and test nav menu
  package-lock.json
  src/features/Menu/Menu.tsx
Due: prettier --write

fix: ui collections for all devices
  src/modules/collections/components/item/item.module.css
  src/modules/collections/components/lits-collections/ListCollections.tsx
Due: none

187 fix nav menu (#188)
  package-lock.json
  src/features/Menu/Menu.tsx
  src/features/Menu/menu.module.css
  src/layouts/header/components/side-menu/sideMenu.module.css
  src/modules/collections/components/item/item.module.css
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/shared/hooks/use-lock-body-scroll/useLockBodyScroll.ts
Due: eslint ., prettier --write

feat: take values from collecion and put in filter
  src/features/sidebar/components/FieldComponent.tsx
  src/modules/collections/Collections.tsx
Due: none

refactor: replace array of filters key
  src/modules/collections/Collections.tsx
Due: none

feat: take values from collecion and put in filter (#190)
  src/features/sidebar/components/FieldComponent.tsx
  src/modules/collections/Collections.tsx
Due: none
