Repository Vlad777mykola/easyway-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier --write

.lintstagedrc.json:

{
	"*.ts": ["eslint .", "prettier --write"],
	"*{.js,.json,.md,.yml,rc}": ["prettier --write"]
}

fix(getReadyQuestion): refactor
  src/modules/collections/components/item/item.module.css
  src/modules/exercise/constants.ts
  src/modules/exercise/services/detectPartOfSpeech.ts
  src/modules/exercise/services/fetchDefinition.ts
  src/modules/exercise/services/showVariants.ts
Due: eslint ., prettier --write

feat(dictionary): add dictionaryId
  src/layouts/header/Header.tsx
  src/modules/dictionary-collection/Collections.tsx
  src/modules/dictionary-collection/components/item/Item.tsx
  src/modules/dictionary-collection/components/item/item.module.css
  src/modules/dictionary-collection/components/lits-collections/ListCollections.tsx
  src/modules/dictionary-collection/components/lits-collections/listCollections.module.css
  src/modules/dictionary-collection/constants/constants.ts
  src/modules/dictionary-collection/constants/store-constants/collection-filter.ts
  src/modules/dictionary-collection/constants/store-constants/index.ts
  src/modules/dictionary-collection/index.ts
  src/modules/dictionary-collection/services/getAllCollections.ts
  src/modules/dictionary-collection/services/getCollectionById.ts
  src/modules/dictionary/ExerciseCard.tsx
  src/modules/dictionary/ExerciseDetails.tsx
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/dictionary/components/exercise-content/exerciseContent.module.css
  src/modules/dictionary/components/pagination/Pagination.tsx
  src/modules/dictionary/components/selecting-formate-ui/SelectingUI.tsx
  src/modules/dictionary/components/selecting-formate-ui/selectingUI.module.css
  src/modules/dictionary/components/statistics/Statistics.tsx
  src/modules/dictionary/components/statistics/statistics.module.css
  src/modules/dictionary/constants.ts
  src/modules/dictionary/exerciseCard.module.css
  src/modules/dictionary/exerciseDetails.module.css
  src/modules/dictionary/hooks/useExerciseListData.tsx
  src/modules/dictionary/index.ts
  src/modules/dictionary/services/detectPartOfSpeech.ts
  src/modules/dictionary/services/fetchDefinition.ts
  src/modules/dictionary/services/removeLocalStorage.ts
  src/modules/dictionary/services/showVariants.ts
  src/modules/task-list/TaskList.tsx
  src/pages/DictionaryPage.tsx
  src/router/Router.tsx
  src/shared/components/list/List.tsx
  src/shared/components/list/item/Item.tsx
  src/shared/constants/data.ts
Due: eslint ., prettier --write

feat(collection words): clean code
  src/modules/vocabularies/components/vocabulary-collections/VocabularyCollections.tsx
Due: none

feat(collection words): clean code
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/VocabularyDetails.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/exercise-content/ExerciseContent.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/hooks/useVocabularyListData.tsx
Due: none

feat(collection words): verify code
  src/modules/vocabularies/components/vocabulary-collections/vocabularyCollections.module.css
  src/modules/vocabularies/wordDetails.module.css
Due: none

feat(collection words): fix verify error
  src/modules/exercise/ExerciseDetails.tsx
Due: none

feat(custom progress): start make custom progress
  src/modules/vocabularies/WordDetails.tsx
  src/ui-components/CustomProgress/CustomProgress.tsx
  src/ui-components/CustomProgress/customProgress.module.css
  src/ui-components/parameters/parameters.ts
Due: eslint ., prettier --write

fix(artem): commit
  package-lock.json
Due: prettier --write

feat(custom progress): start make circle progress component
  src/modules/vocabularies/WordDetails.tsx
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CircleProgressBar/circleProgressBar.module.css
  src/ui-components/CustomProgress/StandartProgressBar.tsx
  src/ui-components/CustomProgress/standartProgressBar.module.css
Due: none

feat(custom progress): start make progress dashboard component
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CircleProgressBar/circleProgressBar.module.css
  src/ui-components/CountUp/CountUp.tsx
  src/ui-components/CountUp/index.ts
  src/ui-components/CustomProgress/StandartProgressBar.tsx
  src/ui-components/CustomProgress/standartProgressBar.module.css
Due: eslint ., prettier --write

feat(store): add new store for dictionary
  src/modules/collections/components/item/item.module.css
  src/modules/dictionary/ExerciseCard.tsx
  src/modules/dictionary/ExerciseDetails.tsx
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/dictionary/components/pagination/Pagination.tsx
  src/modules/dictionary/components/selecting-formate-ui/SelectingUI.tsx
  src/modules/dictionary/components/statistics/Statistics.tsx
  src/modules/exercise/ExerciseDetails.tsx
  src/store/dictionary/index.ts
  src/store/dictionary/service.ts
  src/store/dictionary/useDictionaryStore.tsx
  src/store/exercise-progress/index.ts
Due: eslint ., prettier --write

feat(page): add test page for artem
  src/pages/ARTEM.tsx
  src/router/Router.tsx
Due: none

commit
  src/shared/components/list/item/Item.tsx
Due: none

feat(custom progress): show uncorrect answered questions
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/shared/components/sidebar/components/FieldComponent.tsx
  src/shared/components/sidebar/type.ts
  src/store/vocabulary-collection/useVocabularyStore.ts
Due: eslint ., prettier --write

feat(component): move component
  src/modules/artem/artem.module.css
  src/modules/artem/artem.tsx
  src/pages/ARTEM.tsx
  src/shared/components/list/item/Item.tsx
Due: none

feat(artem): add card1
  src/modules/artem/artem.module.css
  src/modules/artem/artem.tsx
Due: none

feat(custom progress): make progress for random
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/store/progress/index.ts
  src/store/progress/service.ts
  src/store/progress/useProgressStore.ts
  src/store/vocabulary-collection/useVocabularyStore.ts
Due: eslint ., prettier --write

feat(artem): add cards2,3
  src/modules/artem/artem.module.css
Due: none

feat(artem): add adaptiv
  src/modules/artem/artem.module.css
  src/ui-components/Wrapper-card/wrapperCard.module.css
Due: none

feat(custom progress): make logic for progress
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/store/vocabulary-collection/useVocabularyStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/StandartProgressBar.tsx
Due: eslint ., prettier --write

feat(custom progress): refactor naming
  src/modules/vocabularies/WordDetails.tsx
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/ui-components/CircleProgressBar/circleProgressBar.module.css
  src/ui-components/CustomProgress/standartProgressBar.module.css
Due: eslint ., prettier --write

feat(custom progress): clean and refactor code
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/store/progress/useProgressStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/StandartProgressBar.tsx
Due: eslint ., prettier --write

feat(custom progress): make indexed database and refactor statistics component
  package-lock.json
  package.json
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

feat(artem): add styles for card
  src/modules/artem/artem.module.css
  src/modules/artem/artem.tsx
  src/modules/artem/img/cardPht1.svg
  src/modules/artem/img/cardPht2.jpg
  src/modules/artem/img/cardPht3.svg
  src/ui-components/Wrapper-card/wrapperCard.module.css
Due: none

feat(artem): add adaptiv
  src/modules/artem/artem.module.css
  src/modules/artem/artem.tsx
Due: none

feat(artem): update styles for card component
  src/modules/artem/artem.module.css
Due: none

feat(custom progress): make common custom hook for indexedDB
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/shared/hooks/use-indexedDB/index.ts
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

feat(custom progress): feat showing completed questions during 24 hours
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

feat(custom progress): make showing random progress and refactor structure for random progress
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

feat(custom progress): remove console logs
  src/modules/vocabularies/WordDetails.tsx
Due: none

fix(wrapper-card): removed fun
  src/modules/exercise/ExerciseCard.tsx
  src/modules/vocabularies/VocabularyCard.tsx
  src/shared/components/sidebar/components/FieldComponent.tsx
  src/shared/components/sidebar/type.ts
  src/ui-components/Wrapper-card/WrapperCard.tsx
Due: eslint ., prettier --write

feat(components): add components
  src/modules/artem/artem.tsx
  src/modules/artem/components/ARTEM.tsx
  src/modules/artem/components/Card1.tsx
  src/modules/artem/components/Card2.tsx
  src/modules/artem/components/Card3.tsx
  src/modules/artem/components/artem.module.css
  src/modules/artem/components/img/cardPht1.svg
  src/modules/artem/components/img/cardPht2.jpg
  src/modules/artem/components/img/cardPht3.svg
  src/modules/artem/components/index.ts
  src/modules/artem/components/wrapperCard.module.css
  src/pages/ARTEM.tsx
  src/router/Router.tsx
Due: eslint ., prettier --write

start refactor code
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/utils/saveVocabularyProgress.ts
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/useProgressStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

feat(custom progress): refactor code and fix ui
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/modules/vocabularies/utils/deleteVocabularyProgress.ts
  src/modules/vocabularies/utils/saveVocabularyProgress.ts
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/useProgressStore.ts
  src/store/vocabulary-collection/useVocabularyStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/StandartProgressBar.tsx
  src/ui-components/CustomProgress/standartProgressBar.module.css
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

fix(collections): refactor and fix
  src/modules/collections/Collections.tsx
  src/modules/collections/components/item/Item.tsx
  src/modules/collections/components/item/item.module.css
  src/modules/collections/components/lits-collections/ListCollections.tsx
  src/modules/collections/constants/constants.ts
  src/modules/collections/constants/store-constants/index.ts
  src/modules/vocabularies/components/vocabulary-collections/VocabularyCollections.tsx
  src/pages/DictionaryPage.tsx
  src/shared/constants/index.ts
  src/store/collection-filter/constants.ts
  src/store/collection-filter/useCollectionFilterBase.ts
Due: eslint ., prettier --write

feat(components): add files with styles
  src/modules/artem/artem.tsx
  src/modules/artem/components/ARTEM.tsx
  src/modules/artem/components/Card1.module.css
  src/modules/artem/components/Card1.tsx
  src/modules/artem/components/Card2.module.css
  src/modules/artem/components/Card2.tsx
  src/modules/artem/components/Card3.module.css
  src/modules/artem/components/Card3.tsx
  src/modules/artem/components/artem.module.css
  src/ui-components/Wrapper-card/wrapperCard.module.css
Due: none

feat(custom progress): fix ui
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/store/vocabulary-collection/useVocabularyStore.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/standartProgressBar.module.css
Due: eslint ., prettier --write

feat(custom progress): fix ui
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/modules/vocabularies/components/statistics/Statistics.tsx
  src/modules/vocabularies/components/statistics/statistics.module.css
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/progress/useProgressStore.ts
  src/ui-components/CustomProgress/StandartProgressBar.tsx
Due: eslint ., prettier --write
