Repository Vlad777mykola/easyway-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier --write

.lintstagedrc.json:

{
	"*.ts": ["eslint .", "prettier --write"],
	"*{.js,.json,.md,.yml,rc}": ["prettier --write"]
}

fix(progress page): fix progress page and pagination for tests
  src/modules/dictionary/ExerciseCard.tsx
  src/modules/progress/Progress.tsx
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/pages/ProgressPage.tsx
  src/shared/components/statistics/Statistics.tsx
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/shared/utils/progress/saveProgress.ts
  src/store/collection-filter/constants.ts
  src/store/progress/index.ts
  src/store/progress/useProgressStore.ts
  src/store/vocabulary-collection/useVocabularyStore.ts
Due: eslint ., prettier --write

fix(index_db): change the way we use and refactor
  src/main.tsx
  src/modules/dictionary/ExerciseCard.tsx
  src/modules/dictionary/components/exercise-details/ExerciseDetails.tsx
  src/modules/dictionary/components/statistics/Statistics.tsx
  src/modules/dictionary/components/statistics/statistics.module.css
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/shared/components/sidebar/Sidebar.tsx
  src/shared/components/sidebar/components/FieldComponent.tsx
  src/shared/components/sidebar/type.ts
  src/shared/hooks/use-indexedDB/useIndexedDB.ts
  src/store/dictionary/useDictionaryStore.tsx
  src/store/progress/useProgressStore.ts
  src/utils/indexedDB.ts
Due: eslint ., prettier --write

fix(vocabulary store): fix padination like Vlad
  src/main.tsx
  src/modules/vocabularies/VocabularyCard.tsx
  src/modules/vocabularies/WordDetails.tsx
  src/shared/hooks/use-indexedDB-store/index.ts
  src/shared/hooks/use-indexedDB-store/useIndexedDBStore.ts
  src/store/progress/useProgressStore.ts
Due: eslint ., prettier --write

feat(admin page): start make form form admin page
  src/modules/admin/Admin.tsx
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/SecondTab.tsx
  src/pages/AdminPage.tsx
  src/router/Router.tsx
  src/shared/components/form-tabs/form-tab/FormTab.tsx
  src/shared/components/form-tabs/form-tabs/FormTabs.tsx
  src/shared/components/form-tabs/form-tabs/formTabs.module.css
Due: none

feat(admin page): start make validation
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/SecondTab.tsx
  src/modules/admin/components/second-tab/secondTab.module.css
  src/shared/components/form-tabs/form-tabs/formTabs.module.css
Due: none

feat(admin page): make validation and style
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/secondTab.module.css
  src/shared/components/form-tabs/form-tabs/formTabs.module.css
Due: none

feat(admin page): fix submit
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
Due: none

feat(admin page): start make delete tag function
  src/modules/admin/components/form-filters/FormFilters.tsx
Due: none

feat(admin page): check my account
  src/modules/admin/components/form-filters/FormFilters.tsx
Due: none

feat(admin page): remake tabs and styles
  src/modules/admin/Admin.tsx
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/ui-components/Tabs/Tabs.tsx
  src/ui-components/Tabs/index.ts
Due: eslint ., prettier --write

feat(admin page): make better style
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Space/Space.tsx
  src/ui-components/Space/index.ts
  src/ui-components/Tabs/Tabs.tsx
Due: eslint ., prettier --write

feat(admin page): delete custom tabs
  src/modules/admin/Admin.tsx
  src/shared/components/form-tabs/form-tab/FormTab.tsx
  src/shared/components/form-tabs/form-tabs/FormTabs.tsx
  src/shared/components/form-tabs/form-tabs/formTabs.module.css
Due: none

feat(admin page): verify code
  src/modules/admin/components/form-filters/formFilters.module.css
Due: none

feat(useQueryParam): add filters with params
  src/modules/dictionary/ExerciseCard.tsx
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/dictionary/components/exercise-details/ExerciseDetails.tsx
  src/modules/dictionary/components/pagination/Pagination.tsx
  src/modules/dictionary/hooks/useConfigParamWithDefaultData.tsx
  src/modules/dictionary/hooks/useExerciseListData.tsx
  src/modules/dictionary/utils.ts
  src/shared/components/exercise-content/ExerciseContent.tsx
  src/shared/hooks/use-index-db/index.ts
  src/shared/hooks/use-index-db/useIndexDB.ts
  src/shared/hooks/use-navigate/index.ts
  src/shared/hooks/use-navigate/useNavigate.tsx
  src/shared/hooks/use-query-params/index.ts
  src/shared/hooks/use-query-params/useQueryParam.tsx
  src/store/dictionary/type.ts
  src/store/dictionary/useDictionaryStore.tsx
  src/store/progress/useProgressStore.ts
Due: eslint ., prettier --write

feat(sign in button): make sign in button
  src/layouts/header/Header.tsx
  src/layouts/header/header.module.css
Due: none

feat(sign in button): change import placing
  src/layouts/header/Header.tsx
Due: none

feat(auth): singup
  package-lock.json
  package.json
  src/App.tsx
  src/layouts/header/Header.tsx
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/Signin.tsx
  src/modules/auth/components/login.module.css
  src/modules/auth/components/signUp.module.css
  src/modules/auth/index.ts
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/exercise/components/exercise-content/ExerciseContent.tsx
  src/pages/Auth.tsx
  src/router/Router.tsx
  src/shared/apollo-client/apollo-client.ts
  src/shared/components/exercise-content/ExerciseContent.tsx
  src/ui-components/Menu/Menu.tsx
  src/ui-components/Typography/Typography.tsx
  src/ui-design-atoms/margin/index.ts
  src/ui-design-atoms/margin/margin.tsx
  src/ui-design-atoms/margin/styles.module.css
Due: eslint ., prettier --write

feat(make admin ui): make better styles
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
Due: none

feat(admin ui): change width
  src/modules/admin/admin.module.css
Due: none

feat(react-hook-form): add to project
  package-lock.json
  package.json
  src/modules/profile/Profile.tsx
  tsconfig.json
Due: prettier --write

feat(make admin ui): make ui better and make logic for tags section
  src/modules/admin/Admin.tsx
  src/modules/admin/admin.module.css
  src/modules/admin/components/exaplanation/Explanation.tsx
  src/modules/admin/components/exaplanation/explanation.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/secondTab.module.css
Due: none

feat(make admin ui): refactor code
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/tag-section/TagSection.tsx
  src/modules/admin/components/tag-section/tagSection.module.css
Due: none

feat(make admin ui): verify code
  src/modules/admin/components/exaplanation/explanation.module.css
  src/modules/admin/components/form-filters/formFilters.module.css
Due: none

feat(make admin ui): refactor code
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/dictionary/components/selecting-formate-ui/SelectingUI.tsx
  src/modules/exercise/components/exercise-content/ExerciseContent.tsx
  src/modules/exercise/components/selecting-formate-ui/SelectingUI.tsx
  src/shared/components/exercise-content/ExerciseContent.tsx
  src/shared/components/progress/Progress.tsx
  src/shared/components/selecting-formate-ui/SelectingUI.tsx
  src/shared/components/statistics/components/add-info/AddInfo.tsx
  src/shared/services/classes/classes.tsx
  src/shared/services/classes/index.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/StandartProgressBar.tsx
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Menu/Menu.tsx
  src/ui-components/Wrapper-card/WrapperCard.tsx
  src/ui-components/Wrapper/Wrapper.tsx
Due: eslint ., prettier --write

feat(make admin ui): verify
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/dictionary/components/exercise-content/ExerciseContent.tsx
  src/modules/dictionary/components/selecting-formate-ui/SelectingUI.tsx
  src/modules/exercise/components/exercise-content/ExerciseContent.tsx
  src/modules/exercise/components/selecting-formate-ui/SelectingUI.tsx
  src/shared/components/exercise-content/ExerciseContent.tsx
  src/shared/components/progress/Progress.tsx
  src/shared/components/selecting-formate-ui/SelectingUI.tsx
  src/shared/components/statistics/components/add-info/AddInfo.tsx
  src/shared/utils/classes/classes.tsx
  src/shared/utils/classes/index.ts
  src/ui-components/CircleProgressBar/CircleProgressBar.tsx
  src/ui-components/CustomProgress/StandartProgressBar.tsx
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Menu/Menu.tsx
  src/ui-components/Wrapper-card/WrapperCard.tsx
  src/ui-components/Wrapper/Wrapper.tsx
Due: eslint ., prettier --write

feat(make admin ui): merge with develop
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/auth/components/Guard.tsx
Due: none

feat(make admin ui): make better explanation
  src/modules/admin/components/exaplanation/Explanation.tsx
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/tag-section/TagSection.tsx
  src/modules/admin/constants.ts
Due: eslint ., prettier --write

feat(make admin ui): remove comments
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/secondTab.module.css
Due: none

feat(make admin ui): use typography
  src/modules/admin/components/exaplanation/Explanation.tsx
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/tag-section/TagSection.tsx
  src/modules/admin/components/tag-section/tagSection.module.css
Due: none

feat(make admin ui): verify
  src/modules/admin/components/tag-section/tagSection.module.css
Due: none

feat(make admin ui): refactor code
  package-lock.json
  package.json
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/tag-section/TagSection.tsx
  src/shared/utils/capitalize-first/capitalizeFirst.ts
  src/shared/utils/capitalize-first/index.ts
  src/ui-components/Alert/Alert.tsx
  src/ui-components/Alert/index.ts
Due: eslint ., prettier --write

feat(words): add fetch and words page with search
  src/assets/download.jpeg
  src/modules/collections/Collections.tsx
  src/modules/collections/components/item/Item.tsx
  src/modules/dictionary/components/exercise-details/ExerciseDetails.tsx
  src/modules/words/components/main/Main.tsx
  src/modules/words/components/word-card/WordCard.tsx
  src/modules/words/components/word-card/wordCard.module.css
  src/modules/words/constants.ts
  src/modules/words/index.ts
  src/pages/Home.tsx
  src/router/Router.tsx
  src/shared/api-hooks/useWords.ts
  src/shared/services/fetch-collections/useCollectionsData.tsx
  src/ui-components/Wrapper/wrapper.module.css
Due: eslint ., prettier --write

feat(make admin ui): refactor code
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/tag-section/TagSection.tsx
  src/modules/admin/constants/form-filters.constants.ts
  src/modules/admin/types/form-filters.types.ts
  src/modules/admin/types/zod-errors.types.ts
  src/modules/admin/zod-schemas/form-filters.schema.ts
Due: eslint ., prettier --write

feat(collections): add new page
  package-lock.json
  package.json
  src/main.tsx
  src/modules/create-collections/CreateCollections.tsx
  src/modules/create-collections/components/createCollections.module.css
  src/modules/create-collections/index.ts
  src/router/Router.tsx
  src/ui-components/FieldGroup/FieldGroup.tsx
  src/ui-components/FieldGroup/index.ts
Due: eslint ., prettier --write

refactor(form): clean code
  src/modules/admin/Admin.tsx
  src/modules/admin/admin.module.css
  src/modules/admin/components/form-filters/FormFilters.tsx
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/admin/components/second-tab/secondTab.module.css
  src/modules/admin/components/tag-section/TagSection.tsx
  src/pages/AdminPage.tsx
  src/shared/api-hooks/useFilters.tsx
  src/shared/utils/capitalize-first/capitalizeFirst.ts
  src/shared/utils/capitalize-first/index.ts
  src/shared/utils/capitalize/capitalize.ts
  src/shared/utils/capitalize/index.ts
  src/ui-components/FieldGroup/FieldGroup.tsx
  src/ui-components/FieldGroup/index.ts
  src/ui-components/Wrapper-card/wrapperCard.module.css
Due: eslint ., prettier --write

feat(words page): make cards styles for desktop
  src/modules/words/components/main/Main.tsx
  src/modules/words/components/main/main.module.css
  src/modules/words/components/word-card/WordCard.tsx
  src/modules/words/components/word-card/wordCard.module.css
  src/ui-components/Wrapper/wrapper.module.css
Due: none

feat(words page): make styles for word card
  src/modules/words/components/main/main.module.css
  src/modules/words/components/word-card/wordCard.module.css
Due: none

feat(words page): resolve comments
  src/modules/admin/components/form-filters/formFilters.module.css
  src/modules/words/components/main/Main.tsx
  src/modules/words/components/word-card/WordCard.tsx
  src/ui-components/Input/Input.tsx
Due: none

feat(words page): make part of speech ui component
  src/modules/words/components/word-card/WordCard.tsx
  src/modules/words/components/word-card/wordCard.module.css
  src/ui-components/PartOfSpeech/PartOfSpeech.tsx
  src/ui-components/PartOfSpeech/partOfSpeech.module.css
Due: none
