Repository Vlad777mykola/easyway-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., prettier --write

.lintstagedrc.json:

{
	"*.ts": ["eslint .", "prettier --write"],
	"*{.js,.json,.md,.yml,rc}": ["prettier --write"]
}

fix(navHeader): changed some css
  src/constants/data.ts
  src/pages/Home.tsx
  src/pages/home.module.css
Due: eslint ., prettier --write

fix(ts-action): add ts check to the main file
  .github/workflows/main.yml
  .github/workflows/tsc.yml
Due: prettier --write

feat(navbar profile): create navbar profile
  src/layouts/header/Header.tsx
  src/layouts/header/SideMenu.tsx
  src/layouts/header/header.module.css
  src/layouts/header/sideMenu.module.css
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Menu/Menu.tsx
  src/ui-components/Menu/menu.module.css
Due: none

feat(navbar profile): add blur and change width
  src/layouts/header/Header.tsx
  src/layouts/header/header.module.css
  src/layouts/header/sideMenu.module.css
  src/shared/navbar/navbar.module.css
  src/ui-components/Menu/menu.module.css
Due: none

feat(navbar profile): delete commented code
  src/layouts/header/header.module.css
Due: none

refactor(header): delete unnecessary container
  src/layouts/header/Header.tsx
Due: none

feat(local storage): make local storage wrapper
  src/common-utils/localStorage.ts
Due: eslint ., prettier --write

fix(shared): add more folders
  src/layouts/header/Header.tsx
  src/modules/collections/CollectionDetails.tsx
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/task-list/TaskList.tsx
  src/shared/components/list/List.tsx
  src/shared/components/list/index.ts
  src/shared/components/list/item/Item.tsx
  src/shared/components/list/item/item.module.css
  src/shared/components/list/list.module.css
  src/shared/components/nav-header/NavHeader.tsx
  src/shared/components/nav-header/index.ts
  src/shared/components/nav-header/navHeader.module.css
  src/shared/components/navbar/Navbar.tsx
  src/shared/components/navbar/index.ts
  src/shared/components/navbar/navbar.module.css
  src/shared/list/index.ts
  src/shared/utils/classes/classes.tsx
  src/shared/utils/classes/index.ts
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Menu/Menu.tsx
Due: eslint ., prettier --write

feat(locale storage): remake structure
  src/common-utils/localStorage.ts
Due: eslint ., prettier --write

fix(styles): fix styles in showing test
  src/layouts/header/header.module.css
  src/layouts/main/layouts.module.css
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/showing-test/showingTest.module.css
  src/modules/showing-test/showingTestUI.module.css
  src/ui-components/Wrapper-card/wrapperCard.module.css
Due: none

feat(random number): make random number function
  src/shared/utils/randomNumber/getRandomInteger.ts
  src/shared/utils/randomNumber/index.ts
Due: eslint ., prettier --write

refactor(shared): move more folders to shared folders
  src/App.tsx
  src/modules/auth/components/Login.tsx
  src/modules/auth/hooks/useCreateUser.ts
  src/modules/auth/hooks/useGetUser.ts
  src/modules/auth/hooks/useLogin.ts
  src/modules/auth/hooks/useLogout.ts
  src/modules/collections/CollectionDetails.tsx
  src/modules/collections/Collections.tsx
  src/modules/showing-test/ShowingTest.tsx
  src/modules/showing-test/showingTest.module.css
  src/modules/task-list/TaskList.tsx
  src/shared/apollo-client/apollo-client.ts
  src/shared/apollo-client/authenticated-var.ts
  src/shared/apollo-client/index.ts
  src/shared/common-ui/parameters.ts
  src/shared/constants/data.ts
  src/shared/constants/urls.ts
  src/shared/models/AbstractModel.ts
  src/shared/models/User.ts
  src/shared/utils/local-storage/localstorage.ts
  src/ui-components/Icon/Icon.tsx
Due: eslint ., prettier --write

refactor(getRandomInteger): refactor geTRandomInteger
  src/modules/showing-test/showingTest.module.css
  src/shared/utils/randomNumber/getRandomInteger.ts
Due: eslint ., prettier --write

refactor(random number function): refactor random number function
  src/shared/utils/randomNumber/getRandomInteger.ts
Due: eslint ., prettier --write

refactor(random integer function): make condition when min more than max or equal
  src/shared/utils/getRandomInteger/getRandomInteger.ts
  src/shared/utils/getRandomInteger/index.ts
Due: eslint ., prettier --write

refactor(random number function): change position of condition correction minNumber and maxNumber
  src/shared/utils/getRandomInteger/getRandomInteger.ts
Due: eslint ., prettier --write

feat(filter): create filter component
  src/modules/collections/Collections.tsx
  src/modules/collections/collections.module.css
  src/modules/filter/Filter.tsx
  src/modules/filter/filter.module.css
  src/shared/constants/data.ts
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Select/Select.tsx
  src/ui-components/Select/index.ts
Due: eslint ., prettier --write

refactor(positioning imports): refactor positioning imports and create index for Filter component
  src/modules/collections/Collections.tsx
  src/modules/filter/Filter.tsx
  src/modules/filter/filter.module.css
  src/modules/filter/index.ts
Due: eslint ., prettier --write

refactor(filter): refactor search function
  src/modules/collections/collections.module.css
  src/modules/filter/Filter.tsx
Due: none

feat(filter): make filter component
  src/modules/collections/Collections.tsx
  src/modules/collections/collections.module.css
  src/modules/filter/Filter.tsx
  src/modules/filter/filter.module.css
  src/ui-components/Icon/Icon.tsx
  src/ui-components/Wrapper/Wrapper.tsx
  src/ui-components/Wrapper/index.ts
  src/ui-components/Wrapper/wrapper.module.css
Due: eslint ., prettier --write

fix(styles): fix mistakes of unused styles
  src/modules/collections/CollectionDetails.tsx
  src/modules/collections/collectionDetails.module.css
  src/ui-components/Wrapper/wrapper.module.css
Due: none

fix(data-routing): add data and routing to get correct data for collections and task
  src/modules/collections/CollectionDetails.tsx
  src/modules/collections/Collections.tsx
  src/modules/collections/components/item/Item.tsx
  src/modules/collections/components/item/item.module.css
  src/modules/collections/components/lits-colections/ListCollections.tsx
  src/modules/collections/components/lits-colections/listCollections.module.css
  src/modules/collections/services/getAllCollections.ts
  src/modules/collections/services/getCollectionById.ts
  src/modules/showing-test/ShowingTest.tsx
  src/modules/showing-test/services/getTaskById.ts
  src/modules/task-list/TaskList.tsx
  src/shared/constants/data.ts
  src/shared/constants/suportData.ts
Due: eslint ., prettier --write

feat(context screen size): create context for screen size
  src/context/AppContext.tsx
  src/context/ScreenSizeContext.tsx
  src/modules/collections/Collections.tsx
Due: none

chore(determine screen): context determine device of screen
  src/context/ScreenSizeContext.tsx
  src/modules/collections/Collections.tsx
Due: none

chore(side bar): start improve side bar
  src/modules/collections/Collections.tsx
  src/modules/filter/Filter.tsx
  src/modules/filter/Sidebar.tsx
  src/modules/filter/index.ts
  src/modules/filter/sidebar.module.css
  src/shared/constants/data.ts
  src/ui-components/Checkbox/Checkbox.tsx
  src/ui-components/Checkbox/index.ts
Due: eslint ., prettier --write

chore(filter): improve filter and rename sidebar
  src/modules/collections/Collections.tsx
  src/modules/collections/collections.module.css
  src/modules/filter/index.ts
  src/modules/sidebar/Sidebar.tsx
  src/modules/sidebar/SidebarMenu.tsx
  src/modules/sidebar/index.ts
  src/modules/sidebar/sidebar.module.css
  src/modules/sidebar/sidebarMenu.module.css
  src/shared/constants/data.ts
  src/shared/utils/get-random-integer/getRandomInteger.ts
  src/shared/utils/get-random-integer/index.ts
  src/ui-components/Menu/menu.module.css
Due: eslint ., prettier --write

chore(verfiy): verify styles
  src/modules/collections/collections.module.css
  src/modules/sidebar/sidebarMenu.module.css
Due: none

fix(data): change the format for test
  src/modules/showing-test/ShowingTest.tsx
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/showing-test/showingTestUI.module.css
  src/shared/components/list/List.tsx
  src/shared/components/list/item/Item.tsx
  src/shared/constants/data.ts
  src/shared/constants/suportData.ts
Due: eslint ., prettier --write

fix(showing test): test does not show undefined answers
  package-lock.json
  src/modules/showing-test/constants.ts
  src/modules/showing-test/functions/detectPartOfSpeech.ts
  src/modules/showing-test/functions/fetchDefinition.ts
  src/modules/showing-test/functions/showVariants.ts
  src/modules/showing-test/hooks/useSelectData.ts
Due: eslint ., prettier --write

feat(context): add Exercise and Collections context
  src/App.tsx
  src/context/AppProvider.tsx
  src/context/CollectionsContext.tsx
  src/context/ExerciseProgresContext.tsx
  src/shared/constants/data.ts
  src/shared/constants/suportData.ts
Due: eslint ., prettier --write

feat(voice acting): create voice acting for answers
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/showing-test/functions/fetchDefinition.ts
  src/modules/showing-test/functions/showVariants.ts
  src/modules/showing-test/hooks/useSelectData.ts
Due: eslint ., prettier --write

fix(complete test): fix showing correct answers
  src/modules/showing-test/functions/fetchDefinition.ts
  src/modules/showing-test/functions/showVariants.ts
  src/modules/showing-test/hooks/useSelectData.ts
Due: eslint ., prettier --write

fix(links header): fix rendering pages when click on links in header
  src/shared/components/nav-header/NavHeader.tsx
Due: none

fix(fix styles): fix styles for page create and profile page, fix warning of link header
  src/layouts/header/SideMenu.tsx
  src/modules/profile/profile.module.css
  src/modules/test/test.module.css
  src/shared/components/nav-header/NavHeader.tsx
Due: none

chore(side bar): add react hook form for side bar
  src/modules/sidebar/Sidebar.tsx
  src/modules/sidebar/sidebar.module.css
Due: none

feat(store-zustand): add useExerciseProgressStore
  package-lock.json
  package.json
  src/context/CollectionsContext.tsx
  src/context/ExerciseProgresContext.tsx
  src/modules/collections/CollectionDetails.tsx
  src/modules/collections/Collections.tsx
  src/modules/collections/constants/constants.ts
  src/modules/showing-test/Pagination.tsx
  src/modules/showing-test/ShowingTest.tsx
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/showing-test/showingTestUI.module.css
  src/modules/sidebar/FieldComponent.tsx
  src/modules/sidebar/Sidebar.tsx
  src/modules/sidebar/SidebarMenu.tsx
  src/modules/sidebar/fieldComponent.module.css
  src/modules/sidebar/index.ts
  src/modules/sidebar/sidebar.module.css
  src/modules/sidebar/sidebarMenu.module.css
  src/modules/sidebar/type.ts
  src/modules/sidebar/utils.tsx
  src/shared/constants/data.ts
  src/store/exercise-progress/index.ts
  src/store/exercise-progress/service.ts
  src/store/exercise-progress/useExerciseProgressStore.tsx
  src/ui-components/Icon/Icon.tsx
Due: eslint ., prettier --write

chore(verify error): fix verify error, remove console logs
  src/modules/showing-test/functions/fetchDefinition.ts
  src/modules/showing-test/functions/showVariants.ts
Due: eslint ., prettier --write

chore(console): remove console logs
  src/modules/showing-test/ShowingTestUI.tsx
  src/modules/showing-test/hooks/useSelectData.ts
Due: eslint ., prettier --write

fix(setup): remove console
  src/modules/auth/components/Login.tsx
  src/modules/auth/components/SignUp.tsx
  src/modules/showing-test/Pagination.tsx
  src/modules/showing-test/ShowingTest.tsx
  src/pages/Home.tsx
Due: none

feat(store): start make store for collection filters
  src/modules/collections/Collections.tsx
  src/modules/collections/constants/store-constants/collection-filter.ts
  src/modules/collections/constants/store-constants/index.ts
  src/store/collection-filter/index.ts
  src/store/collection-filter/service.ts
  src/store/collection-filter/useCollectionFilterStore.ts
Due: eslint ., prettier --write
